:root {
    --lightcolor1: #fee3ec;
    --lightcolor2: #f9c5d5;
    --darkcolor1: #f999b7;
    --darkcolor2: #f2789f;
    --backgroundcolor: #131315;
}

/*-----------------------------------------------Hover animation login page----------------------------------------------------*/
/*Let's get started button*/
*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /*font: var(--font-style);*/
    text-decoration: none;
    font-size: large;
    color: #fff;
}

body {
    background: #131315;
    /* font: var(--font-style); */
}

button {
    background: #131315;
    /* font: var(--font-style); */
}

button:hover {
    cursor: pointer;
    box-shadow: 0px 4px 4px var(--darkcolor2);
}

button {
    color: #fff;
    border-radius: 25px;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    outline: none;
    border: 0;
    padding: 15px 50px;
    overflow: hidden;
    transition: all 0.5s;
}

button:hover:before {
    opacity: 1;
    transform: translate(0, 0);
}

/*Login container animation*/
* {
    box-sizing: border-box;
}

.LoginBox {
    border: 2px solid var(--lightcolor1);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25rem;
    padding: 2.5rem;
    transform: translate(-50%, -50%);
    background: var(--backgroundcolor);
    box-shadow: 0 0.5rem 1rem var(--darkcolor2);
    border-radius: 0.8rem;
}

.LoginBox h2 {
    margin: 0 0 1.8rem;
    padding: 0;
    color: var(--darkcolor1);
    text-align: center;
}

.LoginBox .UserBox label {
    position: relative;
    left: 0;
    top: -60%;
    padding: 0.7rem 0;
    font-size: 1rem;
    color: var(--darkcolor1);
    pointer-events: none;
    transition: .5s;
}

.LoginBox .UserBox input:focus-lable,
.LoginBox .UserBox input:valid-lable {
    top: -85%;
    left: 0;
    color: var(--lightcolor2);
    font-size: 0.7rem;
}

/*-----------------------------------------------Hover animation homepage------------------------------------------------------*/