:root {
    --lightcolor1: #fee3ec;
    --lightcolor2: #f9c5d5;
    --darkcolor1: #f999b7;
    --darkcolor2: #f2789f;
}

body {
    background-color: var(--lightcolor1);
}

.header {
    background-color: var(--lightcolor2);
    border-radius: 0.5%;
    border-style: solid;
    border-width: 5px;
    border-color: var(--darkcolor2);
}

a {
    color: var(--darkcolor2);
}

.searchBar input {
    outline: none;
    border-style: solid;
    border-radius: 5px;
    border-width: 4px;
    border-color: var(--darkcolor1);
    background-color: var(--lightcolor1);
    color: var(--darkcolor2);

}

.searchBar input:focus {
    border-style: solid;
    border-radius: 5px;
    border-width: 5px;
    border-color: var(--darkcolor2);
}

.AboutWebsite {
    background-color: var(--lightcolor2);
    border-color: var(--darkcolor2);
}

.projectsText {
    color: var(--darkcolor2);
}

.projectsHome {
    background-color: var(--lightcolor2);
    border-color: var(--darkcolor2);
}

footer {
    background-color: var(--lightcolor2);
    border-style: solid;
    border-color: var(--darkcolor2);
    border-width: 5px;
    border-radius: 5px;
}

.sideBar {
    background-color: var(--darkcolor1);
}

.sideBarText {
    background-color: var(--darkcolor2);
    color: var(--lightcolor1);
    border-style: solid;
    border-width: 0.3rem;
    border-radius: 0.3rem;
}

.genres {
    color: var(--lightcolor1);
}

.aboutText {
    color: var(--darkcolor2);
}