.sideBar{
    display: flex;
    flex-direction: column;
    width: 20%;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 1300px;
}
.sideBarText{
    margin: 7%;
    font-size: 30px;
    width: 40%;
}
.inputContainer{
    display: flex;
    flex-direction: row;
}
img{
    margin: 5%;
}
.gif{
    display: flex;
    margin: 0;
    margin-left: 5%;
    margin-bottom: 5%;
    vertical-align: middle;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
