body {
    width: 100%;
    height: 100%;
}

.inputContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.sideBar {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 62rem;
    text-align: center;
    /* justify-content: center; */
    align-items: center;
    position: absolute;
}

.sideBarText {
    margin: 7%;
    width: 40%;
    font-size: 1.8rem;
    position: relative;
    top: 5%;
}

.gif {
    width: 80%;
    position: relative;
    left: 20%;
}

img {
    width: 98%;
    height: 60rem;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.placeholder {
    display: flex;
    width: 100%;
    height: auto;
    margin: 5%;
}